.itemContainer {
  border-radius: 20px ;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  margin: 0px auto;
  margin-top:20px;
}

.itemContainer:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 991px) {
  .itemContainer {
  width: 90%;
  margin: 30px auto;
  
}
.title{
  font-size: 18px;
}
        }

@media only screen and (max-width: 600px) {
  .itemContainer {
  width: 70%;
  margin: 30px auto;
  
}
        }