
Body {
  font-family: "Nunito", "Poppins", sans-serif;
  background-color: #f9fbfc;
  color: #333;
}
textarea:focus {
  outline: none;
  border-color: transparent; /* Facultatif, si tu veux enlever un changement de couleur */
}
h1, h2 ,h3 {
  color: #007a8c;
  font-weight: 800;
  line-height: 1.3;

}